.switch-field {
    display: flex;
    margin-bottom: 36px;
    overflow: hidden;
}

.switch-field input {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
}

.switch-field label {
    background-color: #E5E5E5;
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
    line-height: 1;
    text-align: center;
    padding: 8px 16px;
    margin-right: -1px;
    transition: all 0.1s ease-in-out;
}

.mode.switch-field  {
   gap: 3px;
}

.mode.switch-field label {
    background-color: #E5E5E5;
    color: rgba(0, 0, 0, 0.6);
    font-size: 12px;
    line-height: 1;
    text-align: center;
    padding: 4px;
    margin-right: -1px;
    transition: all 0.1s ease-in-out;
}

.mode.switch-field {
    display: flex;
    margin-bottom: 0px;
    overflow: hidden;
}

.switch-field label:hover {
    cursor: pointer;
}

.input-invisible input {
    border: none;
    width: 26px;
    background-color: #E5E5E5;
}

.input-invisible input:focus-visible {
    border: none;
    outline: none;
    /*width: 14px;*/
}

/*.switch-field input:checked + label {*/
/*    background-color: #a5dc86;*/
/*    box-shadow: none;*/
/*}*/

/*.switch-field label:first-of-type {*/
/*    border-radius: 4px 0 0 4px;*/
/*}*/

/*.switch-field label:last-of-type {*/
/*    border-radius: 0 4px 4px 0;*/
/*}*/
