#infoPanel {
    display: flex;
    flex-direction: column;
    width: 250px;
    background-color: white;
    border: 1px solid #E5E5E5;
}


.infoPanel-block {
    padding: 9px 0;
    margin: 0 10px;
}

.infoPanel-block__divider {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #E5E5E5;
    padding: 0;
    margin: 0;
}


.panelText {
    color: #3949AB;
    font-size: 12px;
}


.panel-oneLine {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.panel-oneLine.header  .panelText {
    font-size: 14px;
    color: black;
    font-weight: bold;
    margin-bottom: 6px;
}

.panel-oneLine.subHeader .panelText {
    margin-bottom: 2px;
    font-size: 14px;
}


.panel-oneLine .panel-oneLine__content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.panel-oneLine .panel-oneLine__content input[type=text] {
    background-color: #E5E5E5;
    width: 90px;
    border: 0;
    padding: 3px;
}

.panel-oneLine .panel-oneLine__content input[value="return"]:checked + label {
    background-color: blue;
    color: white;
}

.panel-oneLine .panel-oneLine__content input[value="supply"]:checked + label {
    background-color: red;
    color: white;
}

.panel-oneLine .panel-oneLine__content select {
    background-color: #E5E5E5;
    border: 0;
    padding: 2px;
}


.panel-oneLine .panel-oneLine__icon {
    display: flex;
    justify-content: center;
    align-items: center;
}
